## RBN descriptive statistics
It is required to run **python main.py** before using this notebook.

In [1]:
import pickle
import utils

In [2]:
input_path = 'output/orbn.p'
with open(input_path, 'rb') as infile:
    le_objs = pickle.load(infile)

## Number of senses

In [3]:
len(le_objs)

58087

## Lemma statistics

In [4]:
lemma_stats =  utils.compute_stats_about(le_objs, attributes={'lemma'}, verbose=1)
print('count', lemma_stats['count'])
print('# of unique observations', lemma_stats['# of unique observations'])
lemma_stats['freq_dist_df'].head()

chosen attributes: {'lemma'}
count 58087
# of unique observations 44381

             lemma  frequency
6069       (slag,)         17
5713       (gaan,)         17
5776     (houden,)         17
5988    (draaien,)         14
37581  (afzetten,)         13

## Part of speech statistics

In [5]:
pos_stats =  utils.compute_stats_about(le_objs, attributes={'rbn_pos'}, verbose=1)
print('count', pos_stats['count'])
print('# of unique observations', pos_stats['# of unique observations'])
pos_stats['freq_dist_df'].head()

chosen attributes: {'rbn_pos'}
count 58087
# of unique observations 4

        rbn_pos  frequency
0       (noun,)      39167
1       (verb,)      10642
2        (adj,)       8203
3  (adjective,)         75

## Lemma and part of speech statistics

In [6]:
lemma_pos_stats =  utils.compute_stats_about(le_objs, attributes={'lemma', 'rbn_pos'}, verbose=1)
print('count', lemma_pos_stats['count'])
print('# of unique observations', lemma_pos_stats['# of unique observations'])
lemma_pos_stats['freq_dist_df'].head()

chosen attributes: {'lemma', 'rbn_pos'}
count 58087
# of unique observations 44944

         lemma-rbn_pos  frequency
5783    (houden, verb)         17
6077      (slag, noun)         17
5719      (gaan, verb)         17
5996   (draaien, verb)         14
35715  (opnemen, verb)         13

## RBN type

In [7]:
type_stats =  utils.compute_stats_about(le_objs, attributes={'rbn_type'}, verbose=1)
print('count', type_stats['count'])
print('# of unique observations', type_stats['# of unique observations'])
type_stats['freq_dist_df'].head()

chosen attributes: {'rbn_type'}
count 58087
# of unique observations 4

     rbn_type  frequency
0     (None,)      47540
1   (action,)       7754
3  (process,)       1719
2    (state,)       1074

## RBN feature set

In [8]:
feature_set_stats =  utils.compute_stats_about(le_objs, attributes={'rbn_feature_set'}, verbose=1)
print('count', feature_set_stats['count'])
print('# of unique observations', feature_set_stats['# of unique observations'])
feature_set_stats['freq_dist_df']

chosen attributes: {'rbn_feature_set'}
count 58087
# of unique observations 33

   rbn_feature_set  frequency
0          (None,)      52773
4       (action2,)       1640
1        (cognt2,)        834
8      (process1,)        494
6       (action1,)        444
2        (state2,)        277
15       (state1,)        182
5        (cognt3,)        177
14      (action3,)        156
9      (process2,)        148
11     (stcognt2,)        148
12       (cognt1,)        128
17        (mvmt1,)         94
13     (prcognt2,)         89
7         (mvmt2,)         70
10     (echprod2,)         69
16     (echprod3,)         58
18     (prcognt1,)         52
23        (mvmt3,)         51
19      (prmvmt1,)         34
20     (animsubj,)         32
22      (prmvmt2,)         31
26      (nselres,)         24
24     (possess2,)         17
27       (state3,)         15
28     (stcognt3,)         14
25    (location2,)         12
3      (prcognt3,)          8
21     (stcognt1,)          7
29     (process3,)          6
30      (prmvmt3,)          1
31     (possess3,)          1
32    (location1,)          1

## Polysemy

In [9]:
pol_info_df, \
pol_df, \
le_id2polysemy_of_lemma = utils.load_polysemy_info(le_objs, pos={'verb'})
pol_df

    Polysemy class  Freq      %
0                1  3796  59.98
1                2  1642  25.94
2                3   494   7.81
3                4   195   3.08
4                5    94   1.49
5                6    42   0.66
6                7    24   0.38
7                8    15   0.24
8                9    11   0.17
9               10     6   0.09
10              11     3   0.05
11              12     2   0.03
12              13     2   0.03
13              14     1   0.02
14              17     2   0.03